{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>health-care</title>
      <link rel="stylesheet"href="{% static 'css/healthcare.css' %}"type="text/css">
  </head>
  <body>
  <h2 align="center"style="color:lightyellow;background-color: blue">Healtcare Information System</h2>

    <table align="center"border="0">
        <tr >

            <td align="center"style="background-color: green;color: red;font-size: 40px;font-style: oblique">HEALTH CARE ADVIS0R</td>
        </tr>
        <tr>
            <td style="background-color:paleturquoise;color:darkblue">
                <marquee>HAPPINESS IS THE HIGHEST FORM OF HEALTH ,,,,,,,,,,,,,,,,,siva</marquee>
            </td>
        </tr>
        <tr>
            <td><br><br><br>
                <table align="center"border="0">
                <tr>
                    <td>
                        <a href="{% url 'index' %}" class="btn btn-primary btn-sm"style="font-size: 25px">Home Page</a>
                        <a href="{% url 'user_registration' %}" class="btn btn-primary btn-sm"style="font-size: 25px">User Registration</a>
                        <button type="button" class="btn btn-primary btn-sm"style="font-size: 25px">Admin Login</button>
                        <button type="button" class="btn btn-primary btn-sm"style="font-size: 25px">User Login</button>
                        <button type="button" class="btn btn-primary btn-sm"style="font-size: 25px">Report</button>
                        <button type="button" class="btn btn-primary btn-sm"style="font-size: 25px">Contact Us</button>
                    </td>
                </tr>
                    <tr>
                        <td>

                            <table align="center"border="2"style="background-color: paleturquoise">
                                <form action="{% url 'admin_home' %}"method="post">
                                    {% csrf_token %}
                                <tr>
                                    <td>
                                        <h1 align="center"style="color: orangered">Admin Login</h1>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Username:
                                        <input type="text"placeholder="username"required name="uname">
                                    </td>
                                </tr>
                                <tr>
                                    <td>Password:
                                        <input type="password"placeholder="password"required name="pas">
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center">
                                        <button type="submit">Login</button>
                                    </td>
                                </tr>
                                </form>
                            </table>
                        </td>
                    </tr>

            </table>
                {% for x in messages %}
                    <h3 align="center"style="color: gold">{{ x }}</h3>
                {% endfor %}
            </td>
        </tr>

    </table>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
{% block common %}
{% endblock %}
</html>