{% extends "user_homepage_login.html" %}
{% block userhome %}
    <form action="{% url 'password_data' %}"method="post">
        {% csrf_token %}
    <table align="center"border="2"bgcolor="#d3d3d3">
    <tr>
        <th style="text-align: center;color: red;font-family: 'Agency FB';font-size: 40px">
            CHANGE PASSWORD
        </th>
    </tr>
    <tr>
        <th>old password:
            <input type="password"placeholder="old password"required name="oldpas">
        </th>
    </tr>
    <tr>
        <th>new password:
            <input type="password"placeholder="new password"required name="newpas">
        </th>
    </tr>
        <tr>
            <th style="text-align: center">
                <button type="submit">save</button>
            </th>
        </tr>
    </table>
    </form>
    {% for x in messages %}
        <h1 style="text-align: center;color: red;font-family: Corbel;font-size: 40px">{{ x }}</h1>
    {% endfor %}
{% endblock %}